<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    </head>
    <body>
        <header>
            <h2>Please, inform me....</h2>
        </header>
        <div class="chat">
            <form method="POST">
                <p>Tell me about yourself.</p>
                <input type="text" name="CityBorn" id="CityBorn" />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </body>
</html>