<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" type="text/css" href="..\static\css\main.css">
    </head>
    <body>
        <header>
            <h2>Please, inform me....</h2>
        </header>
        <div class="chatArea">
            <form method="POST">
                <p>Tell me about yourself.</p>
                <div class="chat">
                    <div class="response">
                    </div>
                    <textarea name="CityBorn" id="CityBorn" ></textarea>
                    <input id="submitButton" type="submit" value="Go" />
                </div>
            </form>
        </div>
    </body>
</html>